@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Bold.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Medium.woff") format("woff");
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'GT-America', Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.parallaxLayers {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: -90;
}
