@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Bold.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Medium.woff") format("woff");
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'GT-America', Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Text*/

.smallCaps {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  z-index:999;
}


.parallaxLayers {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  z-index: -90;
}

a:hover {
color: #fff;
}

/* Containers */

.v-full {

  min-height: 100vh;
}


/* Backgrounds */

.bg-green {
  background-color: #054217;
}

.bg-brown {
  background-color: #362B26;
}


/* Header */

.header {
  position: fixed;
  height: 90px;
  padding: 20px;
  top: 0;
  left:0;
  }

.logo {
height: 90px;
max-height: 100%;
}



#menuIcon{
  width: 25px;
  height: 18px;
  position: relative;
  margin: 5px 0px 5px 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index:999;

  transform: scale(1);
  transition: transform 1s;
}

#menuIcon:hover {
  transform: scale(1.2);
  transition: transform 1s;
}

#menuIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menuIcon span:nth-child(1) {
  top: 0px;
}

#menuIcon span:nth-child(2),#menuIcon span:nth-child(3) {
  top: 8px;
}

#menuIcon span:nth-child(4) {
  top: 16px;
}

#menuIcon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#menuIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menuIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menuIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menuInterface {
  position: relative;
  z-index:99;
}

/* Details */

.slimlineBottom {
  border-bottom: solid 1px #fff;
}


/* Sidebar */


#sidebar {
  position: fixed;
  left: 110vw;
  transition: left 1500ms;
  z-index:0;
  width: 100%;
  box-shadow: -10px 0 10px rgba(0,0,0,.5);
}

#sidebar.open {
  left: 3vw;
  transition: left 1500ms;

  width: 100%;
}

.sidebar {
  padding: 20px;
  z-index:10;
}

.sidebar li {
transform: translateX(200px);
  opacity: 0;
  transition: all 1s;
}

.open .sidebar li {

  transform: translateX(0);
  opacity: 1;
  transition: all 1.5s .2s;
}

.open .sidebar li:nth-child(1) {
  transition-delay: .3s;
}
.open .sidebar li:nth-child(2) {
  transition-delay: .4s;
}
.open .sidebar li:nth-child(3) {
  transition-delay: .5s;
}
.open .sidebar li:nth-child(4) {
  transition-delay: .6s;
}
.open .sidebar li:nth-child(5) {
  transition-delay: .7s;
}
.open .sidebar li:nth-child(6) {
  transition-delay: .8s;
}
.open .sidebar li:nth-child(7) {
  transition-delay: .9s;
}
.open .sidebar li:nth-child(8) {
  transition-delay: 1s;
}

/* Social icon sidebar */
.socialIcons img:hover, .controlIcons img:hover {
transform: scale(1.2);
transition: transform .5s;
}

.socialIcons li, .controlIcons li {
  list-style: none;
}

.socialIcons img {
  width: 30px;
  padding: 10px 0;

transform: scale(1);
transition: transform .5s;
}

.controlIcons img {
  width: 25px;
  padding: 10px 0;

transform: scale(1);
transition: transform .5s;
}

.socialIcons {
  margin-bottom: 50px;
}

.controlIcons {
  margin-top: 15px;
}

/* Menu */

.sidebar li {
  color: #fff;
  list-style: none;
}

.sidebar li a {
  font-size: 2.2em;
  font-weight:100;
  line-height: 2em;
  position: relative;
display: inline-block;
  transform: translateX(0px);

  transition: transform 2s;
}

.sidebar li a:after {
  content: url("/navArrow.svg");
  margin-left: 20px;
  width: 50px;
  display: inline-block;
  color: #fff;
  transform: translate(0, -7px);

  transition: transform 2s;
}

.sidebar .smallCaps {
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.sidebar li a:hover {
  color: #fff;

  transition: transform 600ms;
  transform: translateX(30px);
  cursor: pointer;
}

.sidebar li a:hover:after {
  transform: translate(30px, -7px);
  transition: transform 1s;
}