@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Bold.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Medium.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: 'GT-America';
  src:
    url("./fonts/GT-America-Extended-Thin.woff") format("woff");
  font-weight: 100;
}

@import "~react-image-gallery/styles/css/image-gallery.css";


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'GT-America', Helvetica Neue, sans-serif;
  background: #054217;
  font-weight: normal;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

hr.thick {
  height: 1px;
  opacity: 1;
  background-color: #00823B;
}


/* Bootstrap Additions */

.py-6 {
  padding-top: 5rem!important;
  padding-bottom: 5rem!important;
}

.overflow-hide {
  overflow: hidden;
}

.sectionPad {
  padding-top: 10%;

  padding-bottom: 10%;
}

.carousel-indicators {
  margin-right: 40%;
    margin-bottom: 1.5rem;
    margin-left: 40%;
}

.carousel-indicators li {
  width: 40px;
  background: #fff;
  opacity: .5;
  margin: 0 5px;

}

.carousel-indicators li:hover {
  cursor: pointer;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}
.active.carousel-item-end, .active.carousel-item-right,
.carousel-item-next:not(.carousel-item-start) {
    transform: translateX(100%);
}
.active.carousel-item-start, .active.carousel-item-left,
.carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%);
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

/*Text*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

h1, .h1  {
  font-size: calc(3.5rem + 1.5vw);
  line-height: calc(4.1rem + 1.5vw);
  font-weight: 200
}

h1.drop, .h1.drop {
  text-shadow: 0px 2px 10px rgb(0 0 0 / 30%);
}

h1.hero, h1.hero {
  font-weight: 500!important;
  letter-spacing: -3px;
}

h2.hero, h2.hero {
  font-weight: 900!important;
  letter-spacing: 1px;
}

.emphasis {
  font-size: calc(3rem + 1.5vw);
  line-height: calc(3rem + 1.5vw);
  font-weight: 900;
  letter-spacing: -2px;
}

.emphasis-2 {
  font-size: calc(3rem + 1.5vw);
  line-height: calc(3rem + 1.5vw);
  font-weight: 600;
  letter-spacing: -2px;
}

.blockquote {
  font-size: calc(1.3rem + .7vw);
  line-height: calc(1.8rem + .7vw);
  font-weight: 400;
}

.blockquote-bg {
  background: url('/blockquote-bg.svg');
    background-position: 85% 40%;
    background-size: 52%;
    background-repeat: no-repeat;
    height: 400px;
}

.blockquote-bg-scale {
  background: url('/blockquote-bg.svg');
    background-position: 85% 40%;
    background-size: 52%;
    background-repeat: no-repeat;
}

.about-bg {

    height: 300px;
}

h2, .h2 {
  font-size: calc(2rem + .9vw);
  line-height: calc(2.3rem + .9vw);
}

.intro-par {
  font-size: calc(2.5rem + .9vw);
  line-height: calc(3.2rem + .9vw);
}

h3, .h3 {
  font-weight: 600;
}

h4, .h4 {
font-size: calc(1rem + .4vw);
font-weight: 600;
}

.caps {
  text-transform: uppercase;
}

.smallCaps {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  z-index:999;
}

 .text-small {
  font-size: 12px;
}

 .dropdown-text {
   font-size: 14px;
 }

.smallCaps.small {
  font-size: 12px;
}

.smallCaps.x-small {
  font-size: 9px;
  letter-spacing: 1px;
}

.bold, a.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

a:hover {
color: #fff;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #FF4D24;
}

.text-green {
  color: #054217;
}

.text-mildgreen {
  color: #00823B;
}

.text-grey {
  color: #362B26;
}

.text-right {
  text-align: right;
}


.labelCaps {
font-size: 10px;
font-weight: 700;
letter-spacing: .2em;
text-transform: uppercase;
margin-bottom: 8px;
}

li {
  list-style: none;
  padding: .2rem 0;
}

ul.bulletList {
  padding-left: 20px;
  padding-top: 20px;
}

ul.bulletList li {
  list-style:circle;
}

ul {
  padding-left: 0;
}

li a, a.underline {
  text-decoration: underline;
}

.large {
  font-size: 20px!important;
}

.large, .large * {
  font-size: 20px !important;
}

.large, .large * {
  font-size: 20px !important;
}

.lead {
  font-size: 30px;
  line-height: 35px;
}

.medium, .medium * {
  font-size: 18px !important;
}

.thin, .thin * {
  font-weight: 200;
}

.bold, .bold p, a.bold {

  font-weight: 700;
}

.firstBold::first-word {
font-weight: 700;
}

.link {
  border-bottom: 2px;
}

.text-orange.link {
  border-bottom: solid 2px #FF4D24;
}

.letterspace {
  letter-spacing: 2px;
}
hr {
  background-color: #00823B;
}

/* Buttons */
.btn {
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 900 !important;
  margin-bottom: 10px;
  transition: all .5s;
}

.intro-cta:before {
  content:"";
  background: url("/play-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.1em;
  height: 1.1em;
  position: relative;
  display: inline-block;
  margin: 0 10px 0 -2px;
  top: 3px;
}

.signin-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 900 !important;
  margin-bottom: 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  border: none;
}

.video-size {
  width: 100%!important;
  height: 100%!important;
}

.modal-btn {
  color: #FF4D24;
  padding: 5px 5px 5px 5px!important;
  letter-spacing: 0.5px;
  
}

.modal-header {
  border-bottom: none!important;
}

.modal-dialog {
  max-width: 800px;
}


.modal-header.button.close {
  color: #00823B; 
}

.modal-btn:hover {
  box-shadow: none!important;
  color: #FF4D24!important;
  transform: none!important;
}

.btn-full {
  width: 100%;
  text-align: center;
}

.btn-orange {
  border: solid 2px #FF4D24;
  color: #fff;
}

.btn-green {
  background:#00823B;
  color: #fff;
}

.btn-green {
  background:#00823B!important;
}

.btn-white {
  border: solid 2px #ffffff;
  color: #fff;
}

.btn-solid.btn-white {
  border: none;
  background: #fff;
  color: #000;
}

.btn-large {
  font-size: 1.2rem;
  padding: 12px 20px;
}

.btn-xl {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 15px 30px 20px 30px;
}

.btn:hover {
  color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all .5s;
}

.btn:not(.dropdown-toggle):hover {
  transform: scale(1.03);
}

.btn-white:hover {
  color: #000;
}


.sectionLink {
  color:#FF4D24;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: solid 1px #FF4D24;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}

.textButton, .btn-text {
  -webkit-appearance: initial;
    border: none;
    background: none;
    text-shadow: none;
    padding: 0;
    border-radius: 0;
}

.textButtonAlt {
  -webkit-appearance: initial;
    border: none;
    background: none;
    text-shadow: none;
    padding: 0;
    border-radius: 0;
}

.textButton.text-orange, .btn-text.text-orange {
text-decoration: underline;
}

.textButtonAlt.text-orange {
  text-decoration: none;
  }
  


.textButton.text-mildgreen, .btn-text.text-mildgreen {
  color: #00823B;
  }

  .textButton.text-mildgreen:hover, .btn-text.text-mildgreen:hover {
    color: #00823B;
    }

.textButton:hover, .btn-text:hover {
  background: none;
  box-shadow: none;
  color: #fff;
}

.textButtonAlt:hover {
  transform: translateX(3px);
  transition: all .5s ease;
  background: none;
  box-shadow: none;
  color: #fff;
}

.textButtonAlt:before {
  content: url(/navArrow.svg);
  transform: rotate(0deg);
  margin-right: 8px;
  width: 16px;
  display: inline-block;
  color: #fff;
}

.text-left {
  text-align: left;
}

.calc-intro:after {
  content: url(/navArrow.svg);
  transform: rotate(90deg)!important;
  margin-top: 3px;
  width: 24px;
  margin-left: 10px;
  position: absolute;
}

.down-arrow {
  fill: #fff;
  transform: rotate(90deg);
  width: 30px;
}

.arrow-after:after {
  content: url("../public/orange-arrow.svg");
  position: absolute;
  right: -40px;
  width: 25px;
  top: 3px;

}

.arrow-after {
  position: relative;
}

/* Slider */

.sliderDot {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: solid 3px #fff;
  margin: 0 10px;
}

.sliderDot:hover {
  cursor: pointer;
}

.sliderDot.active:hover {
  cursor: initial;
}

.sliderDot.active {
  background:#FF4D24;
}


.each-slide {
  height: 340px;
  margin-bottom: 20px;
}

.each-slide p {
  font-size: 30px;
  line-height: 33px;
}



.react-slideshow-container .default-nav:first-of-type {
  content: url(/angle-left.svg);
  width: 30px;
  display: none;
  z-index: 5; 
  left: 25%;
}

.react-slideshow-container .default-nav:last-of-type {
  content: url(/angle-right.svg);
  width: 30px;
  display: none;
  z-index: 5; 
  right: 25%;
}

/* Carousel */

.carousel-control-next-icon {
  margin-left: 50%;
}

.carousel-control-prev-icon {
  margin-right: 50%;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 5.5rem;
  left: 13%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.phases {
  background: url('/5Phases.jpg');
  background-size: 101%;
  background-position: center;
  background-repeat: no-repeat;
  height: 660px;
  border-radius: 10px;
}

.phase1 {
  background: url('/Phase1.jpg');
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    height: 660px;
    border-radius: 10px;
}

.phase2 {
  background: url('/Phase2.jpg');
  background-size: 101%;
  background-position: center;
  background-repeat: no-repeat;
  height: 660px;
  border-radius: 10px;
}

.phase3 {
  background: url('/Phase3.jpg');
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    height: 660px;
    border-radius: 10px;
}

.phase4 {
  background: url('/Phase4.jpg');
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    height: 660px;
    border-radius: 10px;
}

.phase5 {
  background: url('/Phase5.jpg');
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    height: 660px;
    border-radius: 10px;
}

/* Left Side Nav */

.left-sidenav {
  font-size: 10px!important;
    position: fixed; 
    z-index: 1; 
    top: 36.5%; 
    left: 14px;
    overflow-x: hidden;
  }

.left-sidenav p {
  font-size: 12px!important;
  line-height: 14px;
  width: 100px;
}


.left-sidenav a {

    padding-left: 20px;
    margin-left: -20px; 

}

.intro-order {
  z-index: 2;
}


.left-sidenav li.active {
  display: block;
  text-indent: 22px;
  width: 120px;
  height: 17px;
  background-size: 17px 17px;
  background: url("/left-nav-circle-active.svg");
  margin: 5px;
  white-space: nowrap;
  opacity: 100%;
  background-repeat: no-repeat;
}



.left-sidenav li, .left-sidenav li.active ~ li.active {
  display: block;
  text-indent: -9999px;
  width: 120px;
  height: 17px;
  background-size: 17px 17px;
  background: url("/left-nav-circle.svg");
  margin: 5px;
  white-space: nowrap;
  opacity: 45%;
  background-repeat: no-repeat;
}

.left-sidenav li:hover, .left-sidenav li.active:hover {
  display: block !important;
  text-indent: 22px !important;
  width: 120px !important;
  height: 17px !important;
  background-size: 17px 17px !important;
  background: url("/left-nav-circle-hover.svg") !important;
  margin: 5px !important;
  white-space: nowrap !important;
  opacity: 60% !important;
  background-repeat: no-repeat !important;
}



/* Containers */

.v-full {
  min-height: 90vh;
}

.v-120 {
  min-height: 120vh !important;
}

.v-10 {
  height: 10vh;
}

.v-100 {
  height: 100vh;
}

.v-80 {
  height: 80vh;
}
.v-50 {
  height: 50vh;
}

.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto;
}

img {
  max-width: 100%;
}

.object-fit-scale {
  object-fit:scale-down;
}

main {
  position: relative;
  z-index:0;
}

.w-50 {
  width: 40%;
  display: inline-block;
}

/* Parallax */

.parallaxLayer {
  position: absolute;
  min-height: 90vh;
  width: 100vw;
  z-index: -90;
  object-fit: cover;
  
}

 .pos-absolute {
   position: absolute;
 }

.rellax {
  z-index: -99;
}

.stickyTop {
  position: sticky;
  top: 100px;
  align-self: flex-start;
  z-index: 1;
}

.stickyCalc {
top:0;
  position: sticky;
  align-self: flex-start;
}

.stickyContainer {
  position: relative;
  overflow: auto;
}

.whiteFloat {
overflow: visible;
padding: 10%;
}

.whiteFloat img {
  color: #fff;
  position: absolute;
}

.op-0 {
  opacity: 0;
}

.op-1 {
  opacity: .1;
}

.op-2 {
  opacity: .2;
}


.op-3 {
  opacity: .3;
}


.op-4 {
  opacity: .4;
}


.op-5 {
  opacity: .5
}


.op-6 {
  opacity: .6
}


.op-7 {
  opacity: .7;
}

.op-8 {
  opacity: .8;
}

.op-9 {
  opacity: .9;
}

.op-95 {
  opacity: .95;
}

.t-30 {
  top: 30vh;
}

.t-40 {
  top: 40vh;
}
.t-50 {
  top: 50vh;
}

.z-0 {
  z-index: 0!important;
}

.z-999 {
  z-index: 999!important;
  position: relative;
}

div>p {
  margin-bottom: 0;
}

/* Infographic */

.canada-carbon-graphic {
  background: url('/CANADA-graphic-dark.svg');
  background-position: cover;
  background-repeat: no-repeat;
}


/* landing images */

.what-bg {
  background: url('/what-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  width: 460px;
  box-shadow: 0 2px 24px rgba(0,0,0,.3) inset!important;
}

.how-bg {
  background: url('/how-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  width: 460px;
  box-shadow: 0 2px 24px rgba(0,0,0,.3) inset!important;
}


/* Backgrounds */

.react-parallax-bgimage {
  object-fit: cover;
  height: 100% !important;
  width: 100vw !important;
}

.bg-green {
  background-color: #054217;
}

.bg-mildgreen {
  background-color: #00823B;
}

.bg-orange {
  background-color: #FF4D24;
}

.bg-brown {
  background-color: #362B26;
}

.bg-quote {
  background-image: url('/bg-quote.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #fff;
}

#intro {
  position: relative;
}


.roundedBox {
  border-radius: 10px;
}

.roundedBoxLeft {

  border-radius: 20px 0 0 20px;
}

.roundedBoxMedium {
  border-radius: 40px;
}


.roundedBoxMediumLeft {

  border-radius: 40px 0 0 40px;
}

.roundedBoxLarge {
  border-radius: 100px;
}
.cardShadow {
  box-shadow: 0 2px 24px rgba(0,0,0,.7);
}

.cardSpacing {
  margin-bottom: 25px;
}

.roundedBoxLargeLeft {
  border-radius: 100px 0 0 100px;
}

.innerShadow {
  box-shadow: 0 1px 24px rgba(0,0,0,.3) inset;
}
.bg-offwhite {
  background-color: #F9F9F8;
}

.innerShadow-heavy {
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.5) inset;
}

.outerShadow {
  box-shadow: 0 2px 24px rgba(0,0,0,.3);
}


/* Splash */


.intro-btn {
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.intro-btn:hover {
  box-shadow: none;
}


.splash button {
 opacity: 0;
  transform: translateY(-100%);

  transition: none;
}

.splash .header {
  opacity: 0;
  transform: translateY(-100%);

  transition: none;
}
.header {
  transition: all ease .5s;
}

.splash .menuInterface {
  opacity: 0;
  transform: translateX(-100%);

  transition: none;
}

.menuInterface {
  transition: all ease .5s;
}

.splash .socialIcons {
  opacity: 0;
  transform: translateX(100%);

  transition: none;
}


.socialIcons {
  transition: all ease .5s;
}

.splash #ticker {
  opacity: 0;
  transform: translateY(100%);

  transition: none;
}


#ticker {
  transition: all ease .5s;
}

.splash footer {
  opacity: 0;
  transform: translateY(100%);

  transition: none;
}


/* Animations */

.fadein {

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Header */

.header {
  position: fixed;
  height: 90px;
  padding: 20px;
  top: 0;
  left:0;
  z-index: 99;
  }

  .headerNav {
    left: initial;
    right: 0;
    width: 10vw;
    z-index: 101;
  }

.logoHeader {
  width: 10vw;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}

.logo {
height: 65px;
max-height: 100%;
max-width: initial;
text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}

.logo:hover {
  cursor: pointer;
}

#menuIcon{
  width: 25px;
  height: 18px;
  position: relative;
  margin: 5px 0px 5px 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index:999;

  transform: scale(1);
  transition: transform 1s;
}

#menuIcon:hover {
  transform: scale(1.2);
  transition: transform 1s;
}

#menuIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menuIcon span:nth-child(1) {
  top: 0px;
}

#menuIcon span:nth-child(2),#menuIcon span:nth-child(3) {
  top: 8px;
}

#menuIcon span:nth-child(4) {
  top: 16px;
}

#menuIcon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#menuIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menuIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menuIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menuInterface {
  position: relative;
  z-index:99;
}

.slimlineBottom a {
  z-index: 999;
}

.slimlineTop a {
  z-index: 999;
}

/* Footer */

footer {
  position: relative;
  z-index: 1;
}

/* Details */

.no-border {
  border: 0px!important;
}

.no-underline {
  text-decoration: none!important;
}

.slimlineBottom {
  border-bottom: solid 1px #00823B;
}

.slimlineTop {
  border-top: solid 1px #00823B;
}

.tight-drop {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
}

.tight-drop-light {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4);
}

.tight-drop-heavy {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 100);
}

.big-drop {
  text-shadow: 0px 1px 30px rgba(0, 0, 0, 100);
}

.super-drop {
  text-shadow: 0px 1px 20px rgba(0, 0, 0, 100);
}

.tight-drop video {
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
}

.nudge {
  margin-right: 6px;
}

.intro-links{
  margin: 10px 0px 10px 0px;
  font-size: 16px;
  letter-spacing: 0.2px!important;
}

.intro-links:after {
  content: url(/navArrow.svg);
  transform: rotate(90deg);
  margin-left: 5px;
  width: 16px;
  display: inline-block;
  color: #fff;
}

.intro-links:hover {
transform: translateY(3px);
transition: all .5s ease;
}

.intro-links-header {
  font-size: 12px;
  font-weight: 700;
}


.down-links{
  font-size: 14px;
  letter-spacing: 0.1px!important;
  z-index:999;
transition: transform .5s ease;
}

.down-links:after {
  content: url(/navArrow.svg);
  transform: rotate(90deg)!important;
  margin-left: 5px;
  width: 16px;
  display: inline-block;
  color: #fff;
}

.down-links:hover {
transform: translateY(3px)!important;
transition: transform .5s ease;
}

.dropdown-links {
  font-size: 16px;
  text-decoration: none!important;
  box-shadow: none!important;
}

.dropdown-links:focus{
  color: #fff;
  z-index:999;
}

.dropdown-menu {
  min-width: 26rem;
  display: none;
  padding: .5rem 0;
  margin: 0;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
}


/* Sidebar */

div.container-fluid, div.container {
  scroll-margin-top: -20px;
}

#sidebar {
  position: fixed;
  left: 110vw;
  top:0;
  transition: left 900ms;
  z-index:100;
  width: 100%;
  box-shadow: -8px -2px 8px rgb(0 0 0 / 50%);
}

#sidebar.open {
  left: 0vw;
  transition: left 900ms;

  width: 100%;
}

.sidebar {
  padding: 30px 200px 0px 20px;
  z-index:10;
}

.sidebar li {
transform: translateX(200px);
  opacity: 0;
  transition: all 1s;
}

.open .sidebar li {

  transform: translateX(10px);
  opacity: 1;
  transition: all 1.5s .2s;
}



/* Social icon sidebar */

.align-bottom-social {
  position: fixed;
    bottom: 11vh;
    right: 0;
    z-index: 999;
}

.socialIcons img:hover, .controlIcons img:hover {
transform: scale(1.2);
transition: all .5s;
opacity: 1;
cursor: pointer;
}

.socialIcons li, .controlIcons li {
  list-style: none;
}

.socialIcons img {
  width: 30px;
  padding: 7px 0;
  opacity: .4;

transform: scale(1);
transition: all .5s;
}

.controlIcons img {
  width: 25px;
  padding: 10px 0;

transform: scale(1);
transition: transform .5s;
}

.socialIcons {
  margin-bottom: 0;
}

.controlIcons {
  margin-top: 15px;
}

.soundMute {
  display: none;
}
.mute .soundMute {
  display: block;
}

.mute .soundPlaying {
  display: none;
}

/* Menu */

.sidebar li {
  list-style: none;
}

.sidebar li a {
  font-size: 1.4em;
  font-weight: 400;
  position: relative;
  display: inline-block;
  transform: translateX(0px);
  text-decoration: none;
  transition: all 2s;
}

.sidebar li.subheader {
  font-size: .8em!important;
}

.sidebar li a:after {
  content: url("/navArrow.svg");
  width: 24px;
  margin-left: 6px;
  top: 4px;
  position: absolute;
  color: #fff;
  transform: translate(0, -7px);
  transition: all 2s;
}

.sidebar .smallCaps {
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.sidebar li a:hover {
  color: #fff;

  transition: all 600ms;
  transform: translateX(30px);
  cursor: pointer;
}

.sidebar li a:hover:after {
  transform: translate(30px, -7px);
  transition: all 1s;
}


/* News Ticker */

#ticker {
  position: fixed;
  bottom: 0;
  height: 10vh;
background: #054217;
box-shadow: 0px -1px 10px rgba(0,0,0,.5);
z-index:999;
}

.tickerHead {
  background: #00823B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tickerTitle {
  position: relative;
  line-height: 1.1em;
  font-size: 17px;
}

.newsItem {
  display: inline-block;
    color: #fff;
    line-height: 100%;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 100;
}

.newsItem.tickerButton {
  padding: 10px 15px 12px 8px!important;
  border-radius: 6px;
  font-size: 14px!important;
  text-transform: uppercase;
  font-weight: 600 !important;
  transition: all .5s;
  color: #fff;
  background-color: #00823B;
  margin: 0px 10px 0px 25px;
}

.newsItem.tickerButton:hover {
  cursor: pointer;
  transition: all .5s;
  color: #fff;

}

.newsItem.tickerButton:before {
  content:"";
  background: url("/play-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  margin: 0 5px 0;
  top:2px;
}


.newsItem:hover {

    color: #FF4D24;

}

.newsItem:not(.tickerButton):before {
  content:"";
  background: url("/cft-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  margin: 0 15px 0;
  top:2px;
}

.newsItem:before {
  content:"";
  background: url("/cft-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  margin: 0 15px 0;
  top:2px;
}

.ticker p {
  white-space:nowrap;
}


/* Forms */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input[type=checkbox] {
  margin-right: 10px;
}

input[type=text], input[type=email], textarea, input[type=number] {
  width: 100%;
}

input[type=text], input[type=email], input[type=password], textarea {

  border-radius: 8px;
  padding: 8px;;
  font-size: 12px;
  width: 100%;
}

label[type=name], label[type=email], label[type=password], label[type=oldpassword], label[type=newpassword] {
  width: 100%!important;
}

select {
  width: 100%;
}
button, input, optgroup, select, textarea {

  border-radius: 5px;
  border: solid 1px #bbb;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 12.5px;
}



/* Landing Page */

.protoImage {
  position: absolute;
    z-index: 0;
    width: 50%;
    right: 10%;
    top: 10%;
}

.protorow {
  background-image: url('/landing-proto.png');
  background-size: contain;
  background-position: 75% 0;
  background-repeat: no-repeat;
}

/* Build Page */

.dotsRow {
  display: block;
  width: 100%;
}

.dotsRow span {
  border-radius: 100px;
  background:#00823B;
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
margin: 5px;
}

.outlineBox {
  border: solid 1px #00823B;
}

span.authorLine {
  margin-left: 100px;
  display: block;
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
}

span.authorLine:before {
  content: "-";
  position: absolute;
  left: -20px;
  color: #fff;
}

span.authorTitle {
  margin-left: 100px;
  display: block;
  font-weight: 200;
}

.react-reveal {
  position: relative;
  z-index: -999 !important;
}


/* Card Details */

.card-drop {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
}

.card-drop-heavy {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
}

.container-drop-heavy {
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.5);
}

.container-drop-heavy-invert {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* calculate your impact cards */


.calculate-card {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
  border: none;
  position: relative;
  height: 400px!important;
}

.calc-btn {
  position: absolute;
  bottom: 4%;
  width: 83%;
}

.calculate-card:hover {
  transform: translateY(-10px);
  transition: all 1s;
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);

}


/* Vertical BG */

.bg-corp {
  background-image: url('/corporate-smart-forest-lopacity.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
    position: relative;
}

.bg-school {
  z-index: -99;
  position: relative;
  background-image: url('/school-smart-forest-lopacity.png');
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-legacy {

  z-index: -99;
  position: relative;  
  background-image: url('/legacy-smart-forest-lopacity.png');
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-communal {
  background-image: url(/communal-smart-forest-lopacity.png);
  background-attachment: fixed;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -99;
  position: relative; 
}

/* Our Smart Forests Cards */

.card-hover {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
}

.card-hover:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.5);
  transition: all .5s ease;
}

.card-hover.modal-btn {
  content: url(/navArrow-orange.svg)!important;
    margin-left: 5px;
    width: 100%;
    display: inline-block;
    color: #FF4D24;
}

.w-100 {
  width: 100%!important;
}

.w-300 {
  width: 300px!important;
}

.card-hover.modal-btn:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}

.action-card {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
}

.action-card:hover {
box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
transition: all .5s ease;
}

.action-card a:after {
  content: url(/navArrow.svg);
  margin-left: 5px;
  width: 20px;
  display: inline-block;
  color: #fff;
}

.action-card a:hover {
transform: translateX(3px);
transition: all .5s ease;
}

.corporate-card {
    background: url('/corporate-smart-forest-lopacity.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
    background-color:#054217;
}

.corporate-card:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}



.corporate-card a:after {
    content: url(/navArrow.svg);
    margin-left: 5px;
    width: 20px;
    display: inline-block;
    color: #fff;
}

.corporate-card a:hover {
  transform: translateX(3px);
  transition: all .5s ease;
}

.school-card {
  background: url('/school-smart-forest-lopacity.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
    background-color:#054217;
}



.school-card:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}



.school-card a:after {
  content: url(/navArrow.svg);
  margin-left: 5px;
  width: 20px;
  display: inline-block;
  color: #fff;
}

.school-card a:hover {
transform: translateX(3px);
transition: all .5s ease;
}


.legacy-card {
  background: url('/legacy-smart-forest-lopacity.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
    background-color:#054217;
}

.legacy-card:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
  transition: all .5s;
}



.legacy-card a:after {
  content: url(/navArrow.svg);
  margin-left: 5px;
  width: 20px;
  display: inline-block;
  color: #fff;
}

.legacy-card a:hover {
transform: translateX(3px);
transition: all .5s ease;
}


.callout-box {
  font-size: 22px;
  background: url('/landing-image.png');
  background-size: cover;
  background-position: center;
}



.communal-card {
  background: url('/communal-smart-forest-lopacity.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
    background-color:#054217;
}

.communal-card:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
  transition: all .5s;
}



.communal-card a:after {
  content: url(/navArrow.svg);
  margin-left: 5px;
  width: 20px;
  display: inline-block;
  color: #fff;
}

.communal-card a:hover {
transform: translateX(3px);
transition: all .5s ease;
}

.communal-button {
  background: url('/communal-smart-forest-lopacity.png');
    background-size: cover;
    background-position: 50% 85%;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
  
}

.communal-button:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
  transition: all .5s;
}



.communal-button a:after {
  content: url(/navArrow.svg);
  margin-left: 5px;
  width: 20px;
  display: inline-block;
  color: #fff;
}

.communal-button a:hover {
transform: translateX(3px);
transition: all .5s ease;
}


.forest-choice {
  text-transform: none!important;
  font-size: 20px;
  font-weight: 500!important;
  letter-spacing: 0px!important;
  padding: 5px 20px 0px 20px;
  line-height: 24px;
}


.forest-choice::after {
  content: url(/navArrow.svg);
  margin-left: 5px;
  width: 22px;
  display: inline-block;
  color: #FF4D24!important;
}

/* About Page */

.about-card {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
  
}

.about-card:hover {
  box-shadow: 0px 2px 20px 6px rgba(0, 0, 0, 0.2);
  transition: all .5s;
}


.about-card a {
  color: #FF4D24; 
  font-weight: 400;
}


.about-hero {
  background: url('/inside-cft.jpg');
    background-size: cover;
    height: 400px;
    background-position: center;
  
}



/* Calculator */

.card .row {
padding: 5px 0;
}

.card .card .card-header h5 {
  margin-bottom: 0;
  color: #fff;
}

.card .card .card-header {
  background: #054217;
  color: #fff;
}

.card .card .card-header:hover {
  cursor: pointer;
}

.card .card {
  margin: 10px 0;
}

.card .card .collapse, .card .card .collapsing {
  padding: 20px 25px;
}


/* Portal */

.react-tabs__tab {
  display: block;
  background: none;
  border: none;
  transition: all .5s;
  margin: 10px 0;
}

.react-tabs__tab:hover {
  cursor: pointer;
}

.react-tabs__tab--selected {
  font-weight: 700;
  padding-left: 15px;
  border-left: solid 3px #FF4D24;
  text-decoration: none;
  transition: all .5s;
}

.panelHead {
  font-size: 1.4em;
  font-weight: 600;
}

.mapboxgl-map {
  border-radius: 20px;
}

.borderGrid > div:not(:first-of-type) {
border-left: solid 1px #00823B;
}
.borderGrid {
  border-bottom: solid 1px #00823B;
}
.borderGrid > div {
  padding: 3%;
}

.tabRow li {
  display: inline-block;
    border: none;
    margin: 0 10px;
    padding: 0 5px;
    transition: border 0s;
}
.tabRow li:hover {
cursor: pointer;
}
.tabRow li:not(.react-tabs__tab--selected) {
border-bottom: none !important;
  
}

.tabRow {
  text-align: center;
}

.border-top-green {
  border-top: solid .25px #bbb;
}

.forestSlider {
  margin: 0 3%;
  width: 94% !important;
}

.forestImages {
  position: relative;
width: 100%;
}

.forestImages img.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left:0;
  object-fit: contain;
}

.numRow .col {
  text-align: center;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 100px;
  width: 40px;
}

.image-gallery-icon:hover {
  color: #ffffff!important;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  cursor: default;
  display: block;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover {
  outline: none;
  border: 4px solid #00823B;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #00823B;
}

.image-gallery-slide .image-gallery-description {
  background: none;
  color: #fff;
  bottom: 0;
  left: 0;
  line-height: 1;
  padding: 10px 20px 25px 20px;
  position: absolute;
  white-space: normal;
  cursor: default;
  font-weight: 600;
  text-shadow: 0px 1px 8px rgb(0 0 0 / 90%);
}

.image-gallery-index {
  background: none;
  color: #fff;
  line-height: 1;
  padding: 20px 20px 10px 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  cursor: default;
  font-weight: 600;
  text-shadow: 0px 1px 8px rgb(0 0 0 / 90%);
}

/* About */

.horizTab li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.horizTab:hover {
  cursor: pointer;
  color: #fff;
}

.horizTab {
  text-align: center;
  border-bottom: solid 1px rgba(255,255,255,.5);
}

.horizTab .react-tabs__tab--selected {
  border-left: none;
  border-bottom: solid 3px #FF4D24;
  text-decoration: initial;
  color: white;
  padding: 5px;
}

/* Power of the Forest */



ul.checkMark li{
position: relative;
left: .5em;
padding: 5px 0 0 0;
text-align: left;
}

ul.checkMark li:before {
  content: url("../public/checkmark-green.svg");
  position: absolute;
  margin-right: 10px;
  width: 1.5em;
  left: -2em;
}

ul.plus li{
  position: relative;
left: .5em;
padding: 5px 0 0 0;
text-align: left;
}

ul.plus li:before {
  content: url("../public/plus-green.svg");
  position: absolute;
  margin-right: 10px;
  width: 1.5em;
  left: -2em;
}

/* Digital Sign */

.signImageContainer {
position: relative;

}

.signTextBottom {
  width: 94%;
  bottom: 11%;
text-align: center;
font-size: 12px;
}

.signImageText {
  position: absolute;
color: #000;
}

.signTextForest {
  top: 27%;
    width: 10%;
    left: 40%;
    font-size: 17px;
}

.signTextAcres {
  bottom: 25%;
    width: 40%;
    left: 40%;
    font-size: 17px;
}

.upload-button > div {
  width: 100% !important;
  height: 50px !important;
}

.upload-button svg {
  height: 70%;
  position: absolute;
  left: 2%;
}



.create-book-image-input-container:hover, .create-book-photo-picker:hover, .upload-button svg:hover, .upload-button:hover, .upload-button > div:hover, .create-book-photo-input:hover {
  cursor: pointer;
}

.create-book-photo-input:after {
  content: 'Upload a Logo';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

/* Search */

#searchComponent {
  position: fixed;
  height: 0;
  left:0;
  top:0;
  width: 100vw;
  background: rgba(0,0,0,0);
  z-index: 999;
  transition: all .5s;
  }

  .searchInner {
    display: inline-block;
  }

  .searchBox img , .searchBox svg{
    vertical-align: top;
  }

  .searchClosed .row, .searchClosed .container {
height: 0;
visibility: hidden;
opacity: 0;

transition: visibility .5s, opacity .5s, height .5s;
  }

  .searchOpen .row, .searchOpen .container {

    transition: opacity .5s;
opacity: 1;
  }

#searchComponent.searchOpen {
  position: fixed;
height: 100vh;
width: 100vw;
background: rgba(0,0,0,.8);
z-index: 999;
}

#searchComponent img {
  width:40px;
  color: #fff; 
  margin-top: 4px;
}

#searchComponent h3 {
  font-weight: 100;
  margin-left: 50px;
}

#searchComponent input {
  width: 800px;
  max-width: 60vw;
  margin-left: 10px;
}

#searchComponent .closeSearch {
  width: 30px;
  margin-left: 20px;
  margin-top: 8px;
}
.closeSearch:hover {
  cursor: pointer;
}

.create-book-photo-picker {
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  background: #00823B!important;
    border-radius: 6px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 900 !important;
    margin-bottom: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin-top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}


/* Tablet */

@media screen and (max-width: 1024px) and (min-width: 577px){
  .parallaxLayers {
    min-height: 80vh;
  }

  .about-hero {
      height: 300px;
  }

  .calculate-card {
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
    border: none;
    position: relative;
    height: 420px!important;
  }

  .calc-btn {
    width: 81%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .v-full {
    min-height: 95vh;
  }

  .sidebar {
    padding: 30px 100px 0px 20px;
    z-index:10;
  }

  .sidebar li a {
    font-size: 1.3em;
  }
  
  .sidebar li.subheader {
    font-size: .8em!important;
  }
  
  .sidebar li a:after {
    width: 22px;
    margin-left: 8px;
    top: -2px;
    transform: translate(0, 0px);
    position: absolute;
  }

  .carousel-control-next-icon {
    margin-left: 50%;
  }
  
  .carousel-control-prev-icon {
    margin-right: 50%;
  }

  .carousel-indicators {
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 1rem;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 3.5rem;
    left: 13%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
  }

  .phases {
    background: url('/5Phases.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 460px;
  }
  
  .phase1 {
    background: url('/Phase1.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 460px;
  }
  
  .phase2 {
    background: url('/Phase2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 460px;
  }
  
  .phase3 {
    background: url('/Phase3.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 460px;
  }
  
  .phase4 {
    background: url('/Phase4.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 460px;
  }
  
  .phase5 {
    background: url('/Phase5.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 460px;
  }


}


@media screen and (max-width: 768px) and (min-width: 577px){

  .dropdown-menu {
    min-width: 20rem;
  }

  .video-size {
    width: 100%!important;
    height: 100%!important;
  }

  .about-hero {
    height: 200px;
    position: initial;
}

  .calculate-card {
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.1);
    border: none;
    position: relative;
    height: 250px!important;
  }
  
  .calc-btn {
    position: absolute;
    bottom: 5%;
    width: 91%;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 3.5rem;
    left: 13%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
  }

  .phases {
    background: url('/5Phases.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 410px;
  }
  
  .phase1 {
    background: url('/Phase1.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 410px;
  }
  
  .phase2 {
    background: url('/Phase2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 410px;
  }
  
  .phase3 {
    background: url('/Phase3.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 410px;
  }
  
  .phase4 {
    background: url('/Phase4.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 410px;
  }
  
  .phase5 {
    background: url('/Phase5.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 410px;
  }

}



/* Mobile */

@media screen and (max-width: 576px){

  h1.hero, h1.hero {
    margin-top: 0px!important;
    font-size: calc(2.8rem + 1.5vw);
    line-height: calc(2.9rem + 1.5vw);
  }

  h1.hero-alt, h1.hero-alt {
    margin-top: 0px!important;
    font-size: calc(2.8rem + 1.5vw);
    line-height: calc(2.9rem + 1.5vw);
  }
  
  h2.hero, h2.hero {
    font-size: calc(3.6rem + 1.5vw);
    line-height: calc(3.7rem + 1.5vw);
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
  }

  .video-size {
    width: 100%!important;
    height: 100%!important;
  }

  .dropdown-menu {
    min-width: 20rem;
  }

  .calculate-card {
    height: 360px!important;
  }

  .calc-btn {
    width: 85%;
  }
  
.smallCaps {
font-size: .9em;
}

.about-hero {
  height: 200px;
  position: initial;
}

.parallaxLayers {
  min-height: 60vh;
}

.carousel-control-next-icon {
  margin-left: 50%;
}

.carousel-control-prev-icon {
  margin-right: 50%;
}

.carousel-indicators {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: .6rem;
}

.carousel-caption {
  position: absolute;
  padding-right: 20px;
  top: 2rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.phases {
  background: url('/5Phases-mob.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}

.phase1 {
  background: url('/Phase1-mob.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}

.phase2 {
  background: url('/Phase2-mob.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}

.phase3 {
  background: url('/Phase3-mob.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}

.phase4 {
  background: url('/Phase4-mob.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}

.phase5 {
  background: url('/Phase5-mob.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}

.protorow {
  background-image: url('/landing-proto.png');
  background-size: 140%;
  background-position: -60% 300%;
  background-repeat: no-repeat;
}

.logo {
  height: 100%;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}


.sidebar {
  padding: 10px 0px 0px 20px;
  z-index:10;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar li a {
  font-size: 1.2em;
}

.sidebar li.subheader {
  font-size: .9em!important;
}

.sidebar li a:after {
  width: 20px;
  margin-left: 6px;
  top: -2px;
  transform: translate(0, 0px);
  position: absolute;
}


.stickyTop {
  position: relative;
  top:0;
}

.each-slide {
  height: 400px;
  margin-bottom: 20px;
}

.each-slide p {
  font-size: 24px;
  line-height: 27px;
}

.blockquote-bg {  
    height: 480px;
}

.about-bg {

  height: 400px;
}

.nudge {
  margin-right: 0px;
}


}

